/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap');

/* 기본 설정 */
*{
    margin:0;
    padding:0;

    font-family: 'Noto Sans KR', sans-serif;
}

body{
    background-color: rgba(209, 210, 219, 0.815);
}

/*타이틀 폰트*/
.title_font{
    font-family: 'Black Han Sans', sans-serif;
}

.font_blue{
    color: royalblue;
}

.margin_tb_5{
    margin-top:5px;
    margin-bottom:5px;
}

.lineheight_200per{
line-height: 200%;
}

/* main_wrap 설정 */
#main_wrap{
    background-color: white;
    
    padding: 10px;

    width: 778px;
    /* height: 800px; */

    border: 1px solid rgb(240, 98, 16);
    border-radius: 8px;

    margin: 10px auto;

    box-shadow:3px 3px 10px rgb(75, 72, 72);
}

/* header 설정 */
header{
    padding: 30px;
}

/* 네비게이션 설정 */
nav{
    border-top : 2px solid rgb(57, 120, 238);
    border-bottom : 2px solid rgb(57, 120, 238);

    overflow: hidden;
}

nav>ul{
    float: left;
    list-style: none;
}

nav>ul>li{
    float:left;
    /* width:  60px; */
    padding: 5px 15px
}

nav>div{
    float: right;
}

/* 검색영역 */
/* nav>input */
nav input{
    border: 1px solid rgb(13, 25, 131);
    padding: 3px 20px;          /*상하,좌우*/
    
    margin-top: 3px;
}

nav input[type=text]{
    width: 100px;
    border-radius: 20px 0 0 20px;
}

nav input[type=submit]{
    border-radius: 0 20px 20px 0;
    margin-left: -1px;
    margin-right: 5px;
}

/* Contents영역 설정 */

#contents_wrap{
    overflow: hidden;
}
#contents_wrap>section{
    width:600px;
    float: left;
}
#contents_wrap>aside{
    width: 170px;
    float: right;
}
#contents_wrap>section>article{
    padding: 25px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#contents_wrap>section>article>img{
    width: 550px;
}

/* aside영역 설정 */

/* #contents_wrap>aside{        두개의 메뉴를 한번에 띄우는게 안됨
padding-top: 20px;
} */

#contents_wrap>aside>h3{
    margin-top:30px;
}

#contents_wrap>aside>ul>li{      /* #contents_wrap>aside li */
    list-style: none;
    padding-left: 10px;
}

/* fotter설정 */
footer{
    height: 50px;
    text-align: center;
    line-height: 30px;
}